<h3>Special Sponsor</h3>

<%_ for (const sponsor of theme.special_sponsors) {_%>
<a href="<%- sponsor.url %>" target="_blank" style="width: 160px;">
  <img src="<%- url_for(`/images/${sponsor.img}`) %>" style="width: 160px;" alt="<%-sponsor.name-%>">
</a>
<%_ } _%>
<br>
