html{
  line-height: initial;
}
.sidebar-heading{
  font-size: 1em;
  font-weight: 500;
  /*color: inherit;*/
  margin-bottom: 0;
}
.sidebar-group:not(.first){
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.no-sidebar .site-name{
  display: none;
}
